{% extends '@KunstmaanAdmin/Default/layout.html.twig' %}

{% block content %}
    <br>
    <a href="{{ path('hgabka_lucene_bundle_settings_regenerate') }}" class="btn btn-primary btn--raise-on-hover">
        <i class="fa fa-fw fa-refresh"></i> {{ 'hgabka_lucene.regenerate'|trans }}
    </a>
{% endblock %}
